{
  "extends": ["prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-unused-vars": [
      "error",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
    ],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "styled-components/rule-name": 0
  },
  "settings": {
    "import/resolver": {
      "alias": [
        ["components", "./components"],
        ["hooks", "./hooks"],
        ["images", "./images"],
        ["lib", "./lib"],
        ["styles", "./styles"]
      ]
    }
  }
}
