{
  "trailingComma": "es5",
  "tabWidth": 2,
  "tabs": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
