html, body {
  height: 100%;
  }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: auto 18%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.main-content {
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 450px;
  width: 100%;
  background-image: url('../images/cave.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.black-layer h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.down-arrow {
  height: 33px;
  width: auto;
  fill: #000;
  padding-bottom: 11px;
}

.header-container {
  width: 90%;
  max-width: 1125px;
  padding-top: 15px;
}

.black-layer {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.head-logo {
  height: 45px;
  width: auto;
  padding: none;
  margin: none;
  float: left;
}

.menuButton {
  height: 35px;
  width: auto;
  float: right;
  padding: none;
  margin: none;
}
.menuButton:hover {
  cursor: pointer;
}
#closeButton:hover {
  cursor: pointer;
}

.head-menu li a {
  font-weight: 400;
}

/* menu item styles in media query */
.menuItem {
  display: none;
}

.head-menu {
  list-style-type: none;
  max-width: 585px;
}

.intro {
  height: 400px;
}

main {
  padding: 15px;
}

.about-section {
  max-width: 1025px;
}
.about-section-header {
  text-align: center;
}


/* ====== Moblie Menu Styles ======== */

#main {
  transition: background-color 0.5s;
  transition: margin-left 0.5s;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 8px;
}

.side-menu-item {
  text-transform: uppercase;
  color: #353535;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px;
}

.black-logo {
  height: 40px;
  width: auto;
}

.side-menu-item:last-child {
  border: none;
}

.close-button {
  height: 40px;
  width: auto;
  padding: 20px 20px
}
.close-button:hover {
    cursor: pointer;
}

main {
  padding: 12px 5px 24px;
  width: 88%;
  max-width: 1125px;
}

.about-section h2 {
  text-align: center;
  letter-spacing: 1px;
  color: #353535;
}

.about-section p {
  margin: 14px auto;
  max-width: 1125px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 27px;
  color: #353535;
}

.about-section p a {
  text-decoration: underline;
}

footer {
  margin: 15px auto 5px;
  width: 50%;
  text-align: center;
}

.social-icons {
  width: 265px;
}

.socialIcon {
  height: 30px;
  width: auto;
  fill: #000;
}

.copyright {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
}


/* ============================
       Media Queries
 ============================== */

@media only screen and (min-width: 420px) {

}


@media only screen and (min-width: 820px) {
  header {
    height: 650px;
  }

  .head-menu {
    width: 45%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .head-logo {
    padding-top: 5px;
    height: 55px;
    width: auto;
  }

  .menuItem {
    font-size: 1.05em;
    font-weight: 700;
    display: inline;
    padding: 8px 0;
    padding-left: 4.75px;
    margin-left: 30px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 4.75px;
    border-bottom: solid 2.4px rgba(0,0,0,0);
  }

  .menuItem:hover {
    border-bottom: solid 2.4px white;
    transition: 320ms;
  }

  .menuButton {
    display: none;
  }

  .black-layer h1 {
    font-size: 2.5em;
  }

  .about-section h2 {
    font-size: 2em;
  }

  .about-section p {
    width: 80%;
    font-size: 1.1em;
  }
}


@media only screen and (min-width: 1080px) {
  .black-layer h1 {
    font-size: 3.15em;
    letter-spacing: 12px;
  }
}

@media only screen and (min-width: 1400px) {

}

/* This is a test */
