h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}


/* ====== Moblie Menu Styles ======== */

#main {
  transition: background-color 0.5s;
  transition: margin-left 0.5s;
}

.checkbox:hover,
.check-label:hover {
  cursor: pointer;
}

#services div label {
}

#services div input {

}

.checkbox {

}

.recaptcha {

}
