html, body, #body {
  height: 100%;
  }

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: auto 18%;
  background-image: url("../images/chicago-river.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  max-width: 1250px;
  padding-top: 15px;
}

.header-container {
  width: 90%;
}

.black-layer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.head-logo {
  height: 45px;
  width: auto;
  padding: none;
  margin: none;
  float: left;
}

.menuButton {
  height: 35px;
  width: auto;
  float: right;
  padding: none;
  margin: none;
}
.menuButton:hover {
  cursor: pointer;
}

.head-menu {
  list-style-type: none;
  max-width: 585px;
}

.head-menu li a {
  font-weight: 400;
}

/* menu item styles in media query */
.menuItem {
  display: none;
}

.main-content {
  height: 100%;
  margin: 0;
  padding: 0;
}

.texts {
  margin: auto 20px;
  padding-top: 12px;
}

.texts h1,
.texts h4 {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
  letter-spacing: 10px;
  /* text-shadow: 1px 1px 12px #353535; */
}

.texts h4 {
  margin: auto;
  width: 14em;
  padding: 12px 3px;
  border: 4px solid #ffffff;
  letter-spacing: 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.texts h4:hover {
  background-color: #ffffff;
  color: #353535;
  opacity: 0.86;
}

footer {
  text-align: center;
}

.social-icons {
  width: 280px;
  margin: 38px auto 10px;
  padding-bottom: 0;
}

.social-icons a img {
  height: 30px;
  width: auto;
}

.socialIcon:hover {
  /* fill: green; */
  /* transition: 230ms; */
}

.copyright {
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 2px;
}


/* ====== Moblie Menu Styles ======== */

#main {
  transition: background-color 0.5s;
  transition: margin-left 0.5s;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 8px;
}

.side-menu-item {
  text-transform: uppercase;
  color: #353535;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px;
}

.black-logo {
  height: 40px;
  width: auto;
}

.side-menu-item:last-child {
  border: none;
}

.close-button {
  height: 40px;
  width: auto;
  padding: 20px 20px
}
.close-button:hover {
    cursor: pointer;
}






/* ============================
       Media Queries
 ============================== */

@media only screen and (min-width: 420px) {
  .social-icons {
    width: 294px;
  }
}


@media only screen and (min-width: 820px) {
  .head-menu {
    width: 45%;
  }

  .head-logo {
    padding-top: 5px;
    height: 55px;
    width: auto;
  }

  .menuItem {
    font-size: 1.05em;
    font-weight: 700;
    display: inline;
    padding: 8px 0;
    padding-left: 4.75px;
    margin-left: 30px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 4.75px;
    border-bottom: solid 2.4px rgba(0,0,0,0);
  }

  .menuItem:hover {
    /* color: #323232; */
    border-bottom: solid 2.4px white;
    transition: 320ms;
  }

  .menuButton {
    display: none;
  }

  .texts {
    font-size: 1.18em;
  }
  .texts h1 {
    letter-spacing: 14px;
  }
  .texts h4 {
    padding: 13px 4px;
    letter-spacing: 5px;
  }
}


@media only screen and (min-width: 1080px) {
  .texts {
    font-size: 1.29em;
  }
  .texts h1 {
    letter-spacing: 16px;
  }
  .texts h4 {
    padding: 13px 3px;
    letter-spacing: 6px;
  }
}

@media only screen and (min-width: 1400px) {
  .texts {
    font-size: 1.58em;
  }
  .texts h1 {
    letter-spacing: 18px;
  }
  .texts h4 {
    padding: 13.75px 4px;
    letter-spacing: 7.5px;
  }
}

.black-layer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  display: flex;
  justify-content: space-around;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.head-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.head-menu a {
  align-self: flex-end;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*=========== Sidebar nav flex ================== */
#mySideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  align-self: flex-end;
}


@media only screen and (min-width: 800px) {
  .head-menu {
    display: flex;
    justify-content: space-around;
  }

}
