.black-layer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.black-layer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.head-menu {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  flex-direction: column;
}

#services div {
  flex-direction: row;
  align-items: center;
  align-content: center;
}

/*=========== Sidebar nav flex ================== */
#mySideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  align-self: flex-end;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




@media only screen and (min-width: 800px) {
  .head-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}
